body {
	color: $base-text-color;
	background: $base-background;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#g-page-surround {
	background: $base-background;
}

@media print {
	#g-page-surround {
		background: #fff !important;
		color: #000 !important;
	}
}

a {
	color: $accent-color-1;
	&:hover {
		color: darken($accent-color-1, 10%);
	}
}