.flush,
.g-flushed {
    margin: 0 !important;
    > .g-container,
    > .g-content {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@include breakpoint(mobile-only) {
    .flush-mobile {
        margin: 0 !important;
        > .g-container,
        > .g-content {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

.g-container-flushed {
    margin: -4rem 0;
}

.g-nobackground {
    background: none !important;
}

.g-absolute {
    position: absolute;
    width: 100%;
}

// no(margin/padding)(left/right/top/bottom)
// (margin/padding)(2x/3x)
$css_properties: "margin", "padding";
$css_directions: "left", "right", "top", "bottom", "all";
$css_multipliers: 2, 3;
$css_size: "small", "med", "large", "xlarge";
@each $prop in $css_properties {
    @each $dir in $css_directions {
        .no#{$prop}#{$dir} {
            &, > .g-content {
                @if ($dir != "all") {
                    #{$prop}-#{$dir}: 0;
                } @else {
                    #{$prop}: 0;
                }
            }
        }

        @each $size in $css_size {
            .#{$size}#{$prop}#{$dir} {
                &:not(.g-block), > .g-content {   
                    @if ($size == "small") {
                        @if ($dir != "all") {
                            #{$prop}-#{$dir}: 0.25rem;
                        } @else {
                            #{$prop}: 0.25rem;
                        }
                    } @else if ($size == "med") {
                        @if ($dir != "all") {
                            #{$prop}-#{$dir}: 1rem;
                        } @else {
                            #{$prop}: 1rem;
                        }
                    } @else if ($size == "large") {
                        @if ($dir != "all") {
                            #{$prop}-#{$dir}: 3rem;
                        } @else {
                            #{$prop}: 3rem;
                        }
                    }
                }    
            }
        }
    }

    @each $multi in $css_multipliers {
        .#{$prop}#{$multi}x {
            > .g-content {
                @if ($prop == "padding") {
                    #{$prop}: $content-padding * $multi;
                } @else if ($prop == "margin") {
                    #{$prop}: $content-margin * $multi;
                }
            }
        }
    }
}

.noliststyle {
	list-style: none;
}

.g-uppercase {
	text-transform: uppercase;
}

.g-notexttransform {
	text-transform: none;
}

.g-positive-margin-top {
	margin-top: 23rem;
}

.g-negative-margin-bottom {
	margin-bottom: -25rem;
}

.g-img-circle {
    border-radius: 50%;
}

