// Basics
$white:							#ffffff;
$black:							#000000;
$off-white:						#f3f5f7;
$grey: 							#888888;
$darkgrey: 						#282828;
$pink: 							#d13b7b;
$red: 							#ef4a44;
$purple: 						#5c5acf;
$blue: 							#279fba;
$orange: 						#ee7933;
$light-grey:                    #C4C4C3;

// Base
$base-background:				#ffffff !default;
$base-background-image:    		false !default;
$base-text-color:				#666666 !default;
$base-border-color:				#dddddd !default;

// Accents
$accent-color-1:				#0083ff !default;
$accent-color-2:				#ff5e14 !default;

// Navigation
$navigation-background:			#000000 !default;
$navigation-text-color:			#ffffff !default;
$navigation-overlay:			  rgba(0, 0, 0, 0.4) !default;
$navigation-height:			    80px !default;

// Menu Style
$menustyle-background:                  #ffffff !default;
$menustyle-text-color:                  #c2c3c6 !default;
$menustyle-text-color-alt:              #c2c3c6 !default;
$menustyle-text-color-active:           #ffffff !default;
$menustyle-sublevel-background-hover:   rgba(255, 255, 255, 0) !default;
$menustyle-sublevel-text-color:         #030303 !default;
$menustyle-sublevel-text-color-hover:  #ffffff !default;
$menustyle-sublevel-text-color-active:  #ffffff !default;
$menustyle-sublevel-background:         #ffffff !default;

// slideshow
$slideshow-background:			rgba(255,255,255, 0) !default;
$slideshow-text-color:			'' !default;

// Top A
$topa-background:			rgba(255,255,255, 0) !default;
$topa-text-color:			#030303 !default;

// Top B
$topb-background:			rgba(255,255,255, 0) !default;
$topb-text-color:			#030303 !default;

// Top C
$topc-background:			rgba(255,255,255, 0) !default;
$topc-text-color:			#030303 !default;

// Top D
$topd-background:			rgba(255,255,255, 0) !default;
$topd-text-color:			#030303 !default;

// Hero
$hero-background:			rgba(255,255,255, 0) !default;
$hero-text-color:			#030303 !default;

// Main
$main-background:				#ffffff !default;
$main-text-color:				#030303 !default;

// Extended
$extended-background:				rgba(255,255,255, 0) !default;
$extended-text-color:				#030303 !default;

// Bottom A
$bottoma-background:				rgba(255,255,255, 0) !default;
$bottoma-text-color:				#030303 !default;

// Bottom B
$bottomb-background:				rgba(255,255,255, 0) !default;
$bottomb-text-color:				#030303 !default;

// Bottom C
$bottomc-background:				rgba(255,255,255, 0) !default;
$bottomc-text-color:				#030303 !default;

// Bottom D
$bottomd-background:				rgba(255,255,255, 0) !default;
$bottomd-text-color:				#030303 !default;

// Footer
$footer-background:				#000000 !default;
$footer-background-image:	    false !default;
$footer-text-color:				#888888 !default;
$footer-link-color:				#888888 !default;
$footer-link-hover-color:       #888888 !default;

// Copyright
$copyright-background:			#000000 !default;
$copyright-text-color:			#666666 !default;
$copyright-link-color:          #888888 !default;
$copyright-link-hover-color:    #888888 !default;

// Off Canvas
$offcanvas-background:			#222222 !default;
$offcanvas-text-color:			rgba(255, 255, 255, 0.5) !default;
$offcanvas-text-color-active:   #ffffff !default;
$offcanvas-toggle-color:		rgba(255, 255, 255, 0.5) !default;
$offcanvas-toggle-color-active:   #ffffff !default;

// Block Variations
$box1-background:				#ffffff !default;
$box2-background:				#e0e0e0 !default;

// System Messsages and Alerts
$warning-color:					#452700;
$danger-color:                  #420c0a;
$error-color:					#b94a48;
$info-color:					#132838;
$success-color:					#1b341b;

// Typography
$rule-color:					#F0F2F4;
$code-text:						#c7254e;
$code-bg:						#f9f2f4;
$pre-text:						#237794;
$pre-bg:						#f6f6f6;

// Borders
$border-color-hover:			darken($accent-color-1, 10%);
$border-color-focus:			$accent-color-1;
$border-color-light:			rgba(0, 0, 0, 0.1);
// Shadows
$base-box-shadow: 				0 0 30px 0 rgba(18, 25, 33, 0.15);
