// Basics
$white:							#ffffff;
$black:							#000000;
$off-white:						#f3f5f7;
$grey: 							#888888;
$darkgrey: 						#282828;
$pink: 							#d13b7b;
$red: 							#ef4a44;
$purple: 						#5c5acf;
$blue: 							#279fba;
$orange: 						#ee7933;
$light-grey:                    #C4C4C3;

// Base
$base-background:				#f7f7f7 !default;
$base-text-color:				#464646 !default;
$base-heading-color:			#333333 !default;
$base-subtitle-color:           #888888 !default;
$base-border-color:				#e7e8ea !default;
$base-body-wrapper:			    30px !default;

// Accents
$accent-color-1:				#6852ed !default;
$accent-color-2:				#ef7171 !default;

// Menu Style
$menustyle-background:                  #ffffff !default;
$menustyle-text-color:                  #c2c3c6 !default;
$menustyle-text-color-alt:              #c2c3c6 !default;
$menustyle-text-color-active:           #ffffff !default;
$menustyle-sublevel-background-hover:   rgba(255, 255, 255, 0) !default;
$menustyle-sublevel-text-color:         #030303 !default;
$menustyle-sublevel-text-color-hover:   #ffffff !default;
$menustyle-sublevel-text-color-active:  #ffffff !default;
$menustyle-sublevel-background:         #ffffff !default;

// Top
$top-background:				#000000 !default;
$top-text-color:				#ffffff !default;

// Navigation
$navigation-background:			#000000 !default;
$navigation-background-image:	false !default;
$navigation-text-color:			#ffffff !default;
$navigation-overlay:			rgba(0, 0, 0, 0.4) !default;

// Hero
$hero-background:			#000000 !default;
$hero-background-image:	false !default;
$hero-text-color:			#ffffff !default;

// Slideshow
$slideshow-background:			#000000 !default;
$slideshow-background-image:	false !default;
$slideshow-text-color:			#ffffff !default;

// Header
$header-background:				#000000 !default;
$header-background-image:	false !default;
$header-text-color:				#ffffff !default;

// Above
$above-background:				rgba(255, 255, 255, 0) !default;
$above-background-image:	    false !default;
$above-text-color:				#000000 !default;

// Feature
$feature-background:			#000000 !default;
$feature-background-image:	    false !default;
$feature-text-color:			#ffffff !default;

// Showcase
$showcase-background:			#000000 !default;
$showcase-background-image:	false !default;
$showcase-text-color:			#ffffff !default;

// Utility
$utility-background:			#ffffff !default;
$utility-text-color:			#030303 !default;

// Main
$main-background:				rgba(255, 255, 255, 0) !default;
$main-text-color:				#030303 !default;

// Expanded
$expanded-background:			rgba(255, 255, 255, 0) !default;
$expanded-background-image:	    false !default;
$expanded-text-color:			#030303 !default;

// Extension
$extension-background:			#eef2ff !default;
$extension-background-image:	    false !default;
$extension-text-color:			#030303 !default;

// Bottom
$bottom-background:				#ffffff !default;
$bottom-background-image:	    false !default;
$bottom-text-color:				#030303 !default;

// Below
$below-background:				rgba(255,255,255, 0) !default;
$below-text-color:				#3c3c3c !default;

// Footer
$footer-background:				#000000 !default;
$footer-background-image:	    false !default;
$footer-text-color:				#888888 !default;
$footer-link-color:				#888888 !default;
$footer-link-hover-color:       #888888 !default;

// Copyright
$copyright-background:			#000000 !default;
$copyright-text-color:			#666666 !default;
$copyright-link-color:          #888888 !default;
$copyright-link-hover-color:    #888888 !default;

// Off Canvas
$offcanvas-background:			#222222 !default;
$offcanvas-text-color:			rgba(255,255,255,.5) !default;
$offcanvas-text-color-active:   #ffffff !default;
$offcanvas-toggle-color:		rgba(255,255,255,.5) !default;
$offcanvas-toggle-color-active:   #ffffff !default;

// Block Variations
$box1-background:				#FFFFFF !default;
$box2-background:				$accent-color-1 !default;
$box3-background:				$black !default;
$box4-background:				darken($base-background, 5%) !default;
$box-white-background: 			$white !default;
$box-grey-background: 			$grey !default;
$box-darkgrey-background: 		$darkgrey !default;
$box-pink-background: 			$pink !default;
$box-red-background: 			$red !default;
$box-purple-background:			$purple !default;
$box-blue-background:			$blue !default;
$box-orange-background: 		$orange !default;

// System Messsages and Alerts
$warning-color:					#452700;
$danger-color:                  #420c0a;
$error-color:					#b94a48;
$info-color:					#132838;
$success-color:					#1b341b;

// Typography
$rule-color:					fade-out($base-border-color, 0.75);
$code-text:						#c7254e;
$code-bg:						#f9f2f4;
$pre-text:						#237794;
$pre-bg:						#f6f6f6;

// Borders
$border-color-hover:			$accent-color-1;
$border-color-focus:			$accent-color-1;
$border-color-light:			rgba(0, 0, 0, 0.1);

// Shadows
$base-box-shadow: 				0 2px 8px rgba(0,0,0,0.08);
$base-content-shadow:			2px 4px 16px rgba(0,0,0,0.06);