// Content Block Spacing Variables
$content-margin:            0.625rem !default;
$content-padding:           1.5rem !default;

// Border Radius
$border-radius:			rem(3) !default;

// Padding
$section-padding:				1.5rem;

// Offcanvas
$offcanvas-width:				17rem !default;
$offcanvas-toggle-visibility:	1 !default;
$menustyle-font-families:       2 !default;