// Lists and Tables
.list-striped,
.row-striped {
    border-top: 1px solid $border-color-light;
}

.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
    border-bottom: 1px solid $border-color-light;
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
    background-color: lighten($off-white, 2%);
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
    background-color: darken($off-white, 2%);
}

.list-bordered,
.row-bordered {
    border: 1px solid $border-color-light;
}

.row-even,
.row-odd {
    border-bottom: 1px solid $border-color-light;
}

.row-even {
    background-color: lighten($off-white, 2%);
}

.iframe-bordered {
    border: 1px solid $border-color-light;
}
.table {
    background-color: $white;
    border-color: #dfe3e7;
}
tbody,
td,
tfoot,
th,
thead,
tr {
    border: 0 solid;
    border-color: inherit;
}
.table-bordered thead tr {
    border-bottom-width: 0;
}
.table-striped-columns > :not(caption) > tr > :nth-child(2n),
.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgba($color: #000000, $alpha: 0.05);
}
.jl-article {
    .page-header h2 {
        margin-bottom: 0;
        font-weight: 500;
        font-size: calc(1.3rem + 0.6vw);
        @media (min-width: 1200px) {
            font-size: 1.65rem;
        }
    }
    .jl-article-title {
        font-weight: 500;
        font-size: calc(1.325rem + 0.9vw);
        @media (min-width: 1200px) {
            font-size: 1.75rem;
        }
    }
}
